#
# {{ ansible_managed }}
#

global
  log /dev/log daemon
  maxconn 32768
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon
  stats socket /var/lib/haproxy/stats user haproxy group haproxy mode 0640 level operator
  tune.bufsize 32768
  tune.ssl.default-dh-param 2048
  ssl-default-bind-ciphers ALL:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK:!RC4:!ADH:!LOW@STRENGTH

defaults
  log     global
  mode    http
  option  log-health-checks
  option  log-separate-errors
  option  dontlog-normal
  option  dontlognull
  option  httplog
  option  socket-stats
  retries 3
  option  redispatch
  maxconn 10000
  timeout connect     5s
  timeout client     50s
  timeout server    450s

{% if publish_stats | bool %}
listen stats
  bind 0.0.0.0:80
  bind :::80 v6only
  stats enable
  stats uri     /
  stats refresh 5s
  rspadd Server:\ haproxy/2.0
{% endif %}

{% if destinations is defined %}
{% for destination in destinations %}
{% if destination['type'] == "simple" %}
listen {{ destination['name'] }}
    bind *:{{ destination['port'] }}
    option {{ destination['option'] }}
{% if destination['option'] == "httpchk" %}
    http-check {{ destination['option_configuration'] }}
{% endif %}
    default-server {{ destination['default_server'] }}
{% for backend in groups[destination['backends_group']] %}
    server {{ destination['backend_prefix'] | default('') }}{{ backend }} {{ hostvars[backend]['ansible_default_ipv4']['address'] }}:{{ destination['backend_port'] }} {{ destination['backend_options'] }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
